.travel-plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.table_btn {
    margin-right: 16px;
}

.table_btn:last-child {
    margin-right: 0px;
}

.ant-upload-list-item-info {
    span {
        height: 100%;
    }
}
.btn {
    margin-right: 16px;
    & :last-child {
        margin-right: 0;
    }
}
.ant-form-item-children {
    span {
        width: 100%;
    }
}
